body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

nav > a {
  margin: 0.5rem;
  color: rgb(33, 114, 69);
  display: inline-block;
  vertical-align: middle;
}

nav > img {
  max-width: 30px;
  margin-right: 10px;
}

#loginForm {
  display: flex;
  flex-direction: column;
}

#loginForm > label {
  padding: 0.25rem;
}
