body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  max-width: 600px;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

nav {
  display: flex;
  vertical-align: middle;
  margin: 0.25rem;
}

nav > a {
  margin: 0.5rem;
  color: rgb(33, 114, 69);
  display: inline-block;
  vertical-align: middle;
}

span > a {
  margin: 0.5rem;
  color: rgb(33, 114, 69);
  display: inline-block;
  vertical-align: middle;
}

nav > img {
  max-width: 30px;
  margin-right: 10px;
}

#loginForm {
  display: flex;
  flex-direction: column;
}

#loginForm > label {
  padding: 0.25rem;
}

.reservationsContainer {
}

.bookBuddy {
  font-weight: bold;
}

.loginButton {
  width: 180px;
  margin-top: 0.5rem;
}
